{% extends 'base.html.twig' %}

{% block title %}Détails d'un auteur | Bookstore{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="container col-md-8" style="text-align: center; margin: 0 auto;">
         <strong>Informations sur l'auteur :</strong> <br>
          Nom et Prénom : <strong>{{ auteur.nomPrenom }}</strong> <br>
          Sexe : <strong>{{ auteur.sexe }}</strong><br>
          Date de naissance : <strong>{{ auteur.dateDeNaissance | date('d/m/Y') }}</strong> <br>
        <hr>
          Nationalité : <strong>{{ auteur.nationalite }}</strong>
        <hr>
        <strong>Bibliographie :</strong>  <br>
        <ul>
        {% for liv  in  auteur.livre  %}
        <li><a href="/affiche/livre/{{ liv.id }}"> <strong>{{ liv.titre }} </strong></a>    publié   le <strong>{{ liv.dateDeParution | date('d/m/Y') }}</strong><br></li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-2"></div>

</div>
{% endblock %}
