{% extends 'base.html.twig' %}

{% block title %}Détail d'un auteur{% endblock %}

{% block content %}
<div class="row">
    <div class="container" style="text-align: center; margin: 0 auto;">
         <strong>Informations sur l'auteur :</strong> <br>
          Nom et Prénom : {{ auteur.nomPrenom }} <br>
          Sexe : {{ auteur.sexe }}<br>
          Date de naissance : {{ auteur.dateDeNaissance | date('d/m/Y') }} <br>
        <hr>
          Nationalité : {{ auteur.nationalite }}
        <hr>
        <strong>Bibliographie :</strong>  <br>
        <ul>
        {% for liv  in  auteur.livre  %}
        <li><a href="/affiche/livre/{{ liv.id }}"> {{ liv.titre }} </a>    publié   le {{ liv.dateDeParution | date('d/m/Y') }}<br></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
